body {
    background-color: #CCC;
    height: 100%;
}

.hamburger-icon {
    width: 38px;
    height: 38px;
    cursor: pointer;
    display: inline-block;
    background-image: url('../img/hamburger-icon.svg');
    background-repeat: no-repeat;
}

.infoWindowHeader {
    font-size: 24px;
}

/* TODO: GET THIS WORKING */;
.infoWindowIcon {
    margin-right: 50px;
}