html {
    height:100%;
}

body {
    background-color: #CCC;
    height: 100%;
}

.hamburger-icon {
    width: 38px;
    height: 38px;
    cursor: pointer;
    background-image: url('../img/hamburger-icon.svg');
    background-repeat: no-repeat;
}

.pageHeader {
    text-align: center;
    margin-top: 0;
    margin-left: -16.7%; /*This isn't quite right*/
}

.infoWindowHeader {
    font-size: 24px;
}

/* TODO: GET THIS WORKING */;
.infoWindowIcon {
    margin-right: 50px;
}