html {
    height:100%;
}

body {
    background-color: #CCC;
    height: 100%;
}

.search-bar-container {
    background-color: white;
    width: 210px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 20px;
}

.search-bar-text-box {
    outline: none;
    border: none;
    display: inline-block;
}

.search-bar-magnifying-glass {
    display: inline-block;
}

.hamburger-icon {
    width: 38px;
    height: 38px;
    cursor: pointer;
    background-image: url('../img/hamburger-icon.svg');
    background-repeat: no-repeat;
}

.header-label {
    text-align: center;
    margin-top: 0;
    margin-left: -16.7%; /*This isn't quite right*/
}


.container-in-page-content-wrapper {
    height: 100%;
}

header {
    /*height: 5%;*/
}

main {
    height: 95%;
}

.google-map-wrapper {
    height: 100%;
}

.google-map {
    height: 100%;
    min-height: 200px;
    background-color: #CCC
}

.info-window-header {
    font-size: 24px;
}

.info-window-icon {
    margin-right: 50px;
}

/* Soon as header label is its own row */
@media screen and (max-width: 991px) {
    .header-label {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .header-label {
        font-size: 28px;
    }
}

@media screen and (max-width: 340px) {
    .header-label {
        font-size: 24px;
    }
}