html {
    height:100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #CCC;
    height: 100%;
    padding: 0;
    margin: 0;
}

.search-bar-container {
    background-color: white;
    width: 210px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 20px;
}

.search-bar-text-box {
    outline: none;
    border: none;
    display: inline-block;
}

.search-bar-magnifying-glass {
    display: inline-block;
}

.hamburger-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url('../img/hamburger-icon.svg');
    background-repeat: no-repeat;
    max-width: 24px;
}

.header-label {
    /*text-align: center;*/
    margin-top: 0;
    margin-bottom: 0;
    /*margin-left: -16.7%; */ /*This isn't quite right*/
    font-size: 24px;
}


.container-in-page-content-wrapper {
    padding: 0;
    height: 100%;
}

header {
    /*height: 5%;*/
    height: 50px;
}

main {
    height: calc(100% - 50px);
}

.google-map-wrapper {
    height: 100%;
    padding: 0;
}

.google-map {
    height: 100%;
    min-height: 200px;
    background-color: #CCC
}

.info-window-header {
    font-size: 24px;
}

.info-window-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

/* Soon as header label is its own row */
@media screen and (max-width: 991px) {
    .header-label {
        margin-left: 0;
    }
}